#container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
}

#div1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
}


.columns {
    display: flex;
    justify-content: space-between;
    position: absolute;
    columns: 2;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    column-gap: 500px;
}

.text-box {
    background-color: white;
    display: inline-block;
    width: auto;
    height: auto;
    text-align: center;
    border: 2px solid black;
}

#div2 {
    position: absolute;
    top: 20%;
    left: 0%;
    width: 25%;
    height: 60%;
    border: 2px solid black;
}

#div3{
    position: absolute;
    top: 20%;
    left: 25%;
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px solid black;
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
}

#div4{
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    height: 40%;
    border: 2px solid black;
}

#div4 img {
    width: 100%;
    height: auto; 
    border: 2px solid black;
}

#div5{
    position: absolute;
    top: 30%;
    left: 75%;
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center; 
    align-items: center;
    border: 2px solid black;
}


#div6{
    position: absolute;
    top: 70%;
    left: 25%;
    width: 50%;
    height: 10%;
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px solid black;
}



#div7{
    position: absolute;
    top: 80%;
    width: 100%;
    height: 20%;
    border: 2px solid black;
}